.container {
  max-width: 1200px;
  font-size: 1.25rem; /* Aumenta el tamaño de fuente base */
}

.card {
  border-radius: 1.25rem; /* Aumenta el borde redondeado */
}

.card-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.75rem; /* Aumenta el padding */
  border-bottom: 1px solid #e2e8f0;
  background-color: #f7fafc;
}

.btn-new-teacher {
  padding: 0.75rem 2rem; /* Aumenta el padding */
  border-radius: 0.75rem; /* Aumenta el borde redondeado */
  font-weight: bold;
  font-size: 1.25rem; /* Aumenta el tamaño de la fuente */
  color: #ffffff;
  background-color: #007bff;
  transition: transform 0.2s, background-color 0.2s;
}

.btn-new-teacher:hover {
  background-color: #0056b3;
  transform: translateY(-0.25rem);
}

.card-body {
  padding: 1.75rem; /* Aumenta el padding */
}

.table-auto {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  color: #4a5568;
}

.table-auto thead {
  background-color: #edf2f7;
  color: #718096;
}

.table-auto th,
.table-auto td {
  padding: 1rem; /* Aumenta el padding */
}

.table-auto tbody tr {
  border-bottom: 1px solid #e2e8f0;
  transition: background-color 0.2s;
}

.table-auto tbody tr:hover {
  background-color: #f7fafc;
}
