<h2 mat-dialog-title class="dialog-title">Agregar Materia</h2>



<mat-dialog-content class="dialog-content">
  <form class="form-container">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre de la Materia" required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="Codigo de la Materia" required>
    </mat-form-field> 

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Carrera</mat-label>
      <app-career-menu/>      
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="cancel-button">Cancelar</button>
  <button mat-button class="create-button">Crear</button>
</mat-dialog-actions>
