<h2 class="text-sm my-2 mx-5 font-semibold">Crear docente</h2>

<div class="container  flex justify-center items-center">
  <form [formGroup]="teacherForm" (ngSubmit)="creatTeacher()" class="flex flex-col xl:w-2/4 w-full">
    <mat-error *ngFor="let item of messageError">
      {{item}}
    </mat-error>
    <mat-form-field class="my-3" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input formControlName="name" matInput placeholder="Nombre del docente" required>
      <mat-error *ngIf="teacherForm.get('name')?.hasError('required') && teacherForm.get('name')?.touched">
        Este campo es obligatorio
      </mat-error>
      <mat-error *ngIf="teacherForm.get('name')?.hasError('minlength') && teacherForm.get('name')?.touched">
        Mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field class="my-3" appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input formControlName="email"  matInput placeholder="Correo electrónico del docente" type="email" required>
      <mat-error *ngIf="teacherForm.get('email')?.hasError('required') && teacherForm.get('email')?.touched">
        Este campo es obligatorio
      </mat-error>
      <mat-error *ngIf="teacherForm.get('email')?.hasError('email') && teacherForm.get('email')?.touched">
        El campo debe ser un email
      </mat-error>
    </mat-form-field>

    <mat-form-field class="my-3" appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input formControlName="phone" matInput placeholder="Número de teléfono del docente" type="tel" required>
      <mat-error *ngIf="teacherForm.get('phone')?.hasError('required') && teacherForm.get('phone')?.touched">
        Este campo es obligatorio
      </mat-error>
      <mat-error *ngIf="teacherForm.get('phone')?.hasError('minlength') && teacherForm.get('phone')?.touched">
        Tiene que tener minimo 8 caracteres
      </mat-error>
      <mat-error *ngIf="teacherForm.get('phone')?.hasError('pattern') && teacherForm.get('phone')?.touched">
        Debe ser un numero celular
      </mat-error>
    </mat-form-field>
    <div >
      <button
        (click)="goBack()"
        type="button"
        class="underline mr-3 text-red-500">
        Cancelar
      </button>
      
      <button
        type="submit"
        [disabled]="teacherForm.invalid"
        class="py-2 px-5 bg-blue-500 rounded-md text-white">
        Crear
      </button>
    </div>
  </form>
</div>

