<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header
    class="dark:bg-gray-900 dark:border-gray-700 w-full h-32 p-5 flex items-center"
  > 
    <div class="flex items-center">
      <img class="w-auto h-16" src="https://merakiui.com/images/logo.svg" alt="Logo">
    </div>
  </header>

  <main>

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Ingrese al sistema!</h1>

        <p class="mt-4 text-gray-500">
          Ingreso esclusivamente para administradores de la aplicacion de asistencia de docencia
        </p>
      </div>

      <form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      action="#" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
        <div>
          <label
          for="email" class="sr-only">Email</label>

          <div class="relative">
            <input
              type="email"
              formControlName="email"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Enter email"
            />

            <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
              <mat-icon class="text-gray-400">alternate_email</mat-icon>
            </span>
          </div>
        </div>

        <div>
          <label for="password" class="sr-only">Password</label>

          <div class="relative">
            <input
              type="password"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Enter password"
              formControlName="password"
              formControlName="password"
            />

            <span class="absolute inset-y-0 end-0 grid place-content-center px-4">

              <mat-icon class="text-gray-400">password</mat-icon>

            </span>
          </div>
        </div>

        <div
        *ngIf="errorMessage"
        class="error-message">
          {{ errorMessage }}
        </div>

        <button
          type="submit"
          class="inline-block rounded-lg hover:bg-blue-500 bg-blue-700 px-5 py-3 text-sm font-medium text-white"
        >
          Sign in
        </button>
      </form>
    </div>
  </main>

</body>
</html>



