<h2 mat-dialog-title class="dialog-title">Agregar Carrera</h2>

<mat-dialog-content class="dialog-content">
  <form class="form-container">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input [(ngModel)]="career().name" name="name" matInput placeholder="Nombre de la Carrera" required>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="cancel-button">Cancelar</button>
  <button
    (click)="data ?  updateCareer() : createCareer() "
  mat-button mat-dialog-close class="create-button">{{ data ?  'Editar' :'Crear' }}</button>
</mat-dialog-actions>
