<div class="h-screen overflow-hidden w-screen">
  <div class="flex h-screen bg-gray-100">
    <!-- Sidebar -->
    <aside [class.hidden]="!isOpen" class="flex flex-col sm:w-64 w-32 px-5 py-8 overflow-y-auto bg-white border-r dark:bg-gray-900 dark:border-gray-700">
      <div class="flex items-center justify-between">
        <img class="w-auto h-7" src="https://merakiui.com/images/logo.svg" alt="Logo">
      </div>
  
      <div class="flex flex-col justify-between flex-1 mt-6">
        <nav class="-mx-3 space-y-6">
          <div class="space-y-3">
            <p class="px-3 text-xs overflow-hidden sm:inline text-gray-500 uppercase dark:text-gray-600">Dashboard</p>
            <div *ngFor="let item of getItem()">
              <div >
                <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                  routerLink="/dashboard/{{item.router}}"
                  >
                  <i class="material-icons-outlined">{{item.icon}}</i>
                  <span class="mx-2 text-sm overflow-hidden md:overflow-auto font-medium">{{item.seccion}}</span>
                </a>
              </div>
            </div>
            <div>
              <button class="flex w-full items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                  <i class="material-icons-outlined">logout</i>
                  <span class="mx-2 text-sm overflow-hidden md:overflow-auto font-medium">Cerrar sesion</span>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </aside>
  
    <!-- Main content -->
    <main class="flex-grow bg-zinc-600 px-6 py-2">
      <button class="mb-4 text-white rounded-lg" (click)="toggleSidebar()">
        <mat-icon class="text-white">menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
