
<div class="flex">
  <!-- component -->
  <aside class="flex flex-col w-64 h-screen px-5 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700">
    <a>
        <img class="w-auto h-7" src="https://merakiui.com/images/logo.svg" alt="">
    </a>

    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav class="-mx-3 space-y-6 ">
            <div
            class="space-y-3 ">
                <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-600">Dashboard Anashe</label>

              <div
              *ngFor="let item of getItem()"
              >
                <div>
                  <a
                  class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#"
                  routerLink="/dashboard/{{item.router}}"
                  >
                    <i class="material-icons-outlined">
                      {{item.icon}}
                    </i>

                    <span class="mx-2 text-sm font-medium">
                    {{item.seccion}}
                    </span>
                  </a>
                </div>
              </div>


            </div>



        </nav>
    </div>
  </aside>

  <main class="flex-grow">
    <router-outlet></router-outlet>
  </main>


</div>


