<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <aside [class.hidden]="!isOpen" class="flex flex-col w-64 px-5 py-8 overflow-y-auto bg-white border-r dark:bg-gray-900 dark:border-gray-700">
    <div class="flex items-center justify-between">
      <img class="w-auto h-7" src="https://merakiui.com/images/logo.svg" alt="Logo">
      <button class="md:hidden" (click)="toggleSidebar()">
        <i class="material-icons">menu</i>
      </button>
    </div>

    <div class="flex flex-col justify-between flex-1 mt-6">
      <nav class="-mx-3 space-y-6">
        <div class="space-y-3">
          <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-600">Dashboard Anashe</label>
          <div *ngFor="let item of getItem()">
            <div>
              <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                 routerLink="/dashboard/{{item.router}}"
                >
                <i class="material-icons-outlined">{{item.icon}}</i>
                <span class="mx-2 text-sm font-medium">{{item.seccion}}</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </aside>

  <!-- Main content -->
  <main class="flex-grow p-6">
    <button class="md:hidden mb-4 p-2 bg-blue-600 text-white rounded-lg" (click)="toggleSidebar()">
      Toggle Menu
    </button>
    <router-outlet></router-outlet>
  </main>
</div>
