<div class="card-body p-5">
  <table class="table-auto w-full text-left text-gray-700">
    <thead class="bg-gray-100 text-gray-600">
      <tr>
        <th
        *ngFor="let tablas of ObItablas"
        class="p-3">{{tablas}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ITypePeriod" class="border-b border-gray-200 hover:bg-gray-50">
        <ng-container class="text-center" >
          
          <td>
            {{item.description}}
          </td>
        </ng-container>

        <ng-container >
          <td>
            {{item.status}}
          </td>
        </ng-container>
        <td class="p-3 flex justify-start items-center">
          <button
            (click)="onEdit(item.id)"
            matTooltip="Editar tipo periodo"
            class="mr-2 bg-transparent hover:bg-gray-100 rounded-lg focus:outline-none">
            <mat-icon class="text-emerald-700">edit</mat-icon>
          </button>

          <button 
            (click)="deleteTeacher(item.id)"
            matTooltip="Eliminar tipo periodo"
            class="bg-transparent hover:bg-gray-100 rounded-lg focus:outline-none">
            <mat-icon class="text-red-600">delete</mat-icon> 
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <div class='flex items-center justify-center my-5'>
        <div class="flex justify-center items-center space-x-4">
          <button 
          (click)="previewPageClick()"
          class="border rounded-md bg-gray-100 px-2 py-1 text-3xl leading-6 text-slate-400 transition hover:bg-gray-200 hover:text-slate-500 cursor-pointer shadow-sm"><
          </button>
          <div class="text-slate-500">{{page + 1}} / {{totalPage}}</div>
          <button 
          (click)="nextPageClick()"
          class="border rounded-md bg-gray-100 px-2 py-1 text-3xl leading-6 text-slate-400 transition hover:bg-gray-200 hover:text-slate-500 cursor-pointer shadow-sm">>
          </button>
        </div>
      </div>
    </tfoot>
  </table>
</div>
